/**
------- GENERAL STYLES
**/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  background: #f7f3ea;
}
.grain {
  position: fixed;
  pointer-events: none;
  -webkit-animation: grainAnimation 1s steps(4) infinite;
  animation: grainAnimation 1s steps(4) infinite;
  background-image: url('./grain.png');
  height: 180%;
  left: -40%;
  top: -40%;
  width: 180%;
  z-index: 2;
}
.carousel-section {
  position: relative;
  margin-top: 200px;
  z-index: 1;
}
h1 {
  font-size: 120px;
  white-space: nowrap;
  padding: 0px 0 80px;
  margin-top: -90px;
  text-align: center;
  opacity: 0.5;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.carousel {
  height: 300px;
  width: 450px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 0;
  list-style: none;
  background-size: cover;
  @media screen and (min-width: 1600px) {
    height: 400px;
    width: 550px;
  }
}
.carousel__controls,
.carousel__thumb {
  display: none;
}
.carousel__control {
  height: 40px;
  width: 40px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: black;
  opacity: 0.35;
  outline: 0;
  z-index: 3;
}
.carousel__control:hover {
  opacity: 0.9;
}
.carousel__control--backward {
  left: -10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.carousel__control--forward {
  right: -10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.carousel__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
.carousel__track .carousel__slide {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.carousel__slide {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  overflow: hidden;
}
.carousel__thumb:checked ~ .carousel__slide {
  top: 0;
  left: 0;
  right: 0;
}
.carousel__indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.carousel__indicator {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  opacity: 0.35;
  margin: 0 2.5px 0 2.5px;
}
.carousel__indicator:hover {
  opacity: 0.75;
}

/**
------- FIRST SLIDE
**/

.carousel__thumb:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
  display: block;
}
.carousel__slide:nth-of-type(1),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(1) {
  background-image: url("./slider1.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__thumb:nth-of-type(1):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(5) {
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}
.carousel__thumb:nth-of-type(1):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(1) {
  opacity: 1;
}
.carousel__track .carousel__slide:nth-of-type(1) {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  z-index: -2;
}

/**
------- SECOND SLIDE
**/

.carousel__thumb:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
  display: block;
}
.carousel__slide:nth-of-type(2),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(2) {
  background-image: url("./slider2.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__track .carousel__slide:nth-of-type(2) {
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
}
.carousel__thumb:nth-of-type(2):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(2) {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.carousel__thumb:nth-of-type(2):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(1) {
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}
.carousel__thumb:nth-of-type(2):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(3) {
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
}
.carousel__thumb:nth-of-type(2):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(2) {
  opacity: 1;
}
.carousel__track .carousel__slide:nth-of-type(2) {
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
}

/**
  ------- THIRD SLIDE
**/

.carousel__thumb:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
  display: block;
}
.carousel__slide:nth-of-type(3),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(3) {
  background-image: url("./slider3.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__thumb:nth-of-type(3):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(3) {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.carousel__thumb:nth-of-type(3):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(2) {
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}
.carousel__thumb:nth-of-type(3):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(4) {
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
}
.carousel__thumb:nth-of-type(3):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(3) {
  opacity: 1;
}
.carousel__track .carousel__slide:nth-of-type(3) {
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  z-index: -1;
}

/**
------- FOURTH SLIDE
**/

.carousel__thumb:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
  display: block;
}
.carousel__slide:nth-of-type(4),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(4) {
  background-image: url("./slider4.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__thumb:nth-of-type(4):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(4) {
  -webkit-transform: translateX(0%);
  transform: translateX(-0%);
}
.carousel__thumb:nth-of-type(4):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(5) {
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
}
.carousel__thumb:nth-of-type(4):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(3) {
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}
.carousel__thumb:nth-of-type(4):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(4) {
  opacity: 1;
}
.carousel__track .carousel__slide:nth-of-type(4) {
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
  z-index: -2;
}

/**
  ------- FIFTH SLIDE
**/

.carousel__thumb:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
  display: block;
}
.carousel__slide:nth-of-type(5),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(5) {
  background-image: url("./slider5.jpg");
  background-size: cover;
  background-position: center;
}
.carousel__thumb:nth-of-type(5):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(5) {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.carousel__thumb:nth-of-type(5):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(4) {
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}
.carousel__thumb:nth-of-type(5):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(1) {
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
}
.carousel__thumb:nth-of-type(5):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(2) {
  -webkit-transform: translateX(210%);
  transform: translateX(210%);
}
.carousel__thumb:nth-of-type(5):checked
  ~ .carousel__track
  .carousel__slide:nth-of-type(3) {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.carousel__thumb:nth-of-type(5):checked
  ~ .carousel__indicators
  .carousel__indicator:nth-of-type(5) {
  opacity: 1;
}
.carousel__track .carousel__slide:nth-of-type(5) {
  -webkit-transform: translateX(400%);
  transform: translateX(400%);
}

@-webkit-keyframes grainAnimation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  10% {
    -webkit-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }

  20% {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%);
  }

  30% {
    -webkit-transform: translate(5%, -10%);
    transform: translate(5%, -10%);
  }

  40% {
    -webkit-transform: translate(-5%, 15%);
    transform: translate(-5%, 15%);
  }

  50% {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%);
  }

  60% {
    -webkit-transform: translate(15%, 0);
    transform: translate(15%, 0);
  }

  70% {
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
  }

  80% {
    -webkit-transform: translate(-15%, 0);
    transform: translate(-15%, 0);
  }

  90% {
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }

  100% {
    -webkit-transform: translate(5%, 0);
    transform: translate(5%, 0);
  }
}
@keyframes grainAnimation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  10% {
    -webkit-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }

  20% {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%);
  }

  30% {
    -webkit-transform: translate(5%, -10%);
    transform: translate(5%, -10%);
  }

  40% {
    -webkit-transform: translate(-5%, 15%);
    transform: translate(-5%, 15%);
  }

  50% {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%);
  }

  60% {
    -webkit-transform: translate(15%, 0);
    transform: translate(15%, 0);
  }

  70% {
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
  }

  80% {
    -webkit-transform: translate(-15%, 0);
    transform: translate(-15%, 0);
  }

  90% {
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }

  100% {
    -webkit-transform: translate(5%, 0);
    transform: translate(5%, 0);
  }
}
