/* Error: expected "{".
 *     ,
 * 485 | >>>>>>> 0b44cfede5b4104afba556e9214103ba4beb726a
 *     |                                                 ^
 *     '
 *   style.scss 485:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 485 \2502  >>>>>>> 0b44cfede5b4104afba556e9214103ba4beb726a\a     \2502                                                  ^\a     \2575 \a   style.scss 485:49  root stylesheet';
}
